
table, th, td {
   
    border: 1px solid black;
    border-collapse: collapse;
   }
    
#fondo {
  background-color: blue;
  color: dimgray;
 
  }



td span {
  color: red;
}

span {
  color: chartreuse;
}  
.center {
  text-align: center;
  width: 20px;
  background-color: rgba(158, 98, 214, 0.61);
}

.button {
  background-color: #9543cc; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

    



